
/************************************
 *  GENERAL
 ************************************/

/* Makeshift CSS Reset */
* {
	margin: 		0;
	padding: 		0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: 		block;
}

body {
	background: #000;
	color: 			#999;
	font: 			13px/22px Helvetica, Arial, sans-serif;
	width: 			940px;
	margin: 		0 auto;
	padding: 		22px 0;
}

a {
	text-decoration:		none;
}

h1, h2 {
	font-size: 	28px;
	line-height:44px;
	padding: 		22px 0;
}

h3 {
	font-size: 	18px;
	line-height:22px;
	padding: 		11px 0;
}

p {
	padding-bottom: 22px;
}

#container {
	background-color: #222;
	padding-bottom: 20px;
}

/************************************
 *  NAVIGATION
 ************************************/

nav {
	background: url("nav_background");
	position: 	absolute;
	left: 			0;
	width: 			100%;
}


	nav ul {
		margin: 		0 auto;
		width: 			940px;
		list-style: none;
	}
		nav ul li {
			/*
				List items will float to the left of the next item
			*/
			float: left;
		}
			nav ul li a {
				display: 					block;
				color: 						#9f0;
				font-size: 				14px;
				text-align: 			center;
				text-decoration: 	none;
				line-height: 			44px;
				width: 						140px;
				margin-right: 		20px;
			}
		
				nav ul li a:hover {
					color: 					#fff;
				}
		
				nav ul li.selected a {
					color: 					#fff;
				}
		
				nav ul li.subscribe a {
					background: 		url("rss.png") left center no-repeat;
					text-align: 		left;
					margin-left: 		22px;
					padding-left: 	33px;
				}

/************************************
 *  TEASER IMAGE
 ************************************/
 
#teaser {
	background: 			#467612 url("images/teaser.png") repeat-x;
	background-size:	100%;
	position: 				relative;
	height:						250px;
	margin-top: 			66px;
	padding: 					44px;
	border-radius: 		22px;
	
	/* Background-size not implemented yet */
	-webkit-background-size: 	100%;
	-o-background-size: 			100%;
	-khtml-background-size: 	100%;
	/* Border-radius not implemented yet */
 	-moz-border-radius: 			22px;
	-webkit-border-radius: 		22px;
}

	#teaser h2, #teaser p {
		position: relative;
		z-index: 	9999;
		width: 		336px;
	}

	#teaser h2 {
		font-weight: 	normal;
		color: 				#fff;
		padding: 			0 0 22px 0;
	}

	#teaser p {
		color: 		#d9f499;
		padding: 	0;
	}
	#teaser img {
		position: absolute;
		top: 			0;
		right: 		0;
		width: 		653px;
		height: 	100%;
	
		/* Border-radius not implemented yet */
		-moz-border-radius: 		22px;
		-webkit-border-radius: 	22px;
	}

 
/************************************
 *  CONTENT  LAYOUT
 ************************************/
 
#content {
	display: 	table;
	margin: 	0 12px;
}

	#mainContent {
		display: 				table-cell;
		width: 					620px;
		padding-right:	22px;
	}
	
	aside {
		display: 				table-cell;
		background: 		url("images/sidebar_background.png") top left;
		width: 					300px;
	}

/************************************
 *  MAIN CONTENT
 ************************************/

/* originally used a class .pageText, but there's only one article anyway*/
#sectGroup section header p, #sectGroup section header p a {
	font-size: 		12px;
	font-style: 	italic;
	color: 				#777;
	margin:				0 10px;
}
		#sectGroup section header p a:hover {
			text-decoration: 	none;
			color: 						#000;
		}
		
#sectGroup section div ul li {
	margin:				0px 40px;
}

#sectGroup section img {
	margin: 						22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}

/* Class can be used to apply two-column layout to a div or section */
.twocolumn {
	column-count: 	2;
	column-gap: 		22px;
	/* Column-count not implemented yet */
	-moz-column-count: 		2;
	-webkit-column-count: 2;
	
	/* Column-gap not implemented yet */
	-moz-column-gap: 			22px;
	-webkit-column-gap: 	22px;
}
	
/************************************
 *  SIDEBAR CONTENT
 ************************************/
 
aside section {
	background: 			url("images/sidebar_section_background.png") repeat-x;
	margin: 					22px 0 0 22px;
	padding: 					11px 22px;
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 	11px;
	-webkit-border-radius:11px;
}

	aside section ul {
		margin: 		0 0 0 22px;
		list-style: none;
	}
	
		aside section ul li a {
			display: 					block;
			text-decoration: 	none;
			color: 						#00d;
			font-size:				18px;
			text-shadow: 			#000 2px -2px 2px;
		}
		
			aside section ul li a:hover {
				text-decoration: underline;
			}
			
/************************************
 *  IMAGE LIST (for gallery)
 ************************************/
 
	.imgList {
		margin: 		0 auto;
		width: 			940px;
		list-style: none;
	}
		.imgList li {
			/*
				List items will float to the left of the next item
			*/
			float: left;
		}
			.imgList li a {
				display: 					block;
				color: 						#9f0;
				font-size: 				14px;
				text-align: 			center;
				text-decoration: 	none;
				line-height: 			44px;
				width: 						140px;
				margin-right: 		20px;
			}
		
				.imgList li a:hover {
					color: 					#fff;
				}
		
				.imgList li.selected a {
					color: 					#fff;
				}
		
				.imgList li.subscribe a {
					background: 		url("rss.png") left center no-repeat;
					text-align: 		left;
					margin-left: 		22px;
					padding-left: 	33px;
				}
 

/************************************
 *  FOOTER
 ************************************/


footer {
	background: #222;
	position: 	absolute;
	left: 			0;
	width: 			100%;
}

	footer div {
		display: 	table;
		color: 		#777;
		margin: 	0 auto;
		padding: 	44px 0;
		width: 		940px;
	}
	
		footer div section {
			display: 	table-cell;
			width: 		300px;
		}
		
		footer div #about, footer div #blogroll {
			padding-right: 20px;
		}
		
	footer h3 {
		color: #FFF;
	}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: 						#FFF;
			text-decoration: 	none;
		}
	
	footer ul {
		margin: 		0 0 0 40px;
		list-style: square;
		color:			#565656;
	}
	
		footer ul li a {
			display: 	block;
		}