
/************************************
 *  GENERAL
 ************************************/

/* Makeshift CSS Reset */
* {
	margin:                       0;
	padding:                      0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display:                      block;
}

body {
	background:                   #000;
	color:                        #FFF;
	font:                         13px/22px Helvetica, Arial, sans-serif;
	width:                        940px;
	margin:                       0 auto;
	padding:                      22px 0;
	
	background-color:             #000;
}

a {
	text-decoration:              none;
}

img {
	border:												none;
}

h1, h2 {
	font-size:                    28px;
	line-height:                  34px;
	padding:                      10px 0px 20px 0px;
}

h3 {
	font-size:                    18px;
	line-height:                  22px;
	padding:                      11px 0;
}

p {
	padding-bottom:               22px;
}

#container {
	padding-bottom:               5px;
	background-color:             #000;
	
	background-image:             url("images/background.jpg");
	background-attachment:        fixed;
	background-repeat:            repeat-y;
	background-position:          center 0px;
}

/************************************
 *  BANNER
 ************************************/
 
 #banner {
	 background:                  url("images/banner.jpg");
	 height:                      160px;
 }
 
/************************************
 *  NAVIGATION
 ************************************/

nav {
	background:                   url("nav_background");
	position:                     absolute;
	left:                         0;
	width:                        100%;
}


	nav ul {
		margin:                   0 auto;
		width:                    940px;
		list-style:               none;
	}
		nav ul li {
			/*
				List items will float to the left of the next item
			*/
			float:                left;
		}
			nav ul li a img {
				display:          block;
				color:            transparent;
				font-size:        14px;
				text-align:       center;
				text-decoration:  none;
				line-height:      44px;
				width:            163px;
				margin-right:     20px;
			}
			nav ul li a img.selected {
				opacity:	0.3;
				filter:		alpha(30);
			}

/************************************
 *  TEASER IMAGE
 ************************************/
 
#teaser {
	background:                   url("images/teaser.jpg");
	background-size:              100%;
	position:                     relative;
	margin-top:                   66px;
	height:                       200px;
	border-radius: 		          15px;
	
	/* Background-size not implemented yet */
	-webkit-background-size:      100%;
	-o-background-size:           100%;
	-khtml-background-size:       100%;
	/* Border-radius not implemented yet */
 	-moz-border-radius:           15px;
	-webkit-border-radius:        15px;
}

	#teaser h2, #teaser p {
		position:                 relative;
		z-index:                  9999;
		width:                    336px;
	}

	#teaser h2 {
		font-weight:              normal;
		color:                    #fff;
		padding:                  0 0 22px 0;
	}

	#teaser p {
		color:                    #d9f499;
		padding:                  0;
	}

 
/************************************
 *  CONTENT  LAYOUT
 ************************************/
 
#content {
	display:                      table;
	margin:                       10px 10px;
}

	#mainContent {
		display:                  table-cell;
		vertical-align:           top;
	}
	
	aside {
		display:                  table-cell;
		width:                    270px;
	}

/************************************
 *  MAIN CONTENT
 ************************************/

#sectGroup section{
	background:                   rgba(0,0,0,.5);
	padding:                      20px 20px;
	margin:                       20px 0px;
	border-radius:                8px;
	/* Border-radius not implemented yet */
 	-moz-border-radius:           8px;
	-webkit-border-radius:        8px;
}

#sectGroup section header p, #sectGroup section header p a {
	font-size:                    12px;
	font-style:                   italic;
	color:                        #BBB;
	margin:                       0 30px;
}
		#sectGroup section header p a:hover {
			text-decoration:      none;
			color:                #000;
		}

	
#sectGroup section div p{
	text-align:                   justify;
}


#sectGroup section img {
	margin:                       22px 0;
	-webkit-box-shadow:           3px 3px 7px #777;
}

/* Class can be used to apply two-column layout to a div or section */
.twocolumn {
	column-count:                 2;
	column-gap:                   22px;
	/* Column-count not implemented yet */
	-moz-column-count:            2;
	-webkit-column-count:         2;
	
	/* Column-gap not implemented yet */
	-moz-column-gap:              22px;
	-webkit-column-gap:           22px;
}
	
/************************************
 *  SIDEBAR CONTENT
 ************************************/
 
aside section {
	background:                   repeat-x;
	margin:                       22px 0 0 22px;
	padding:                      11px 22px;
	
	/* Border-radius not implemented yet */
	-moz-border-radius:           11px;
	-webkit-border-radius:        11px;
}

	aside section ul {
		margin:                   0 0 0 22px;
		list-style:               none;
	}
	
		aside section ul li a {
			display:              block;
			text-decoration:      none;
			color:                #00d;
			font-size:            18px;
			text-shadow:          #000 2px -2px 2px;
		}
		
			aside section ul li a:hover {
				text-decoration:  	underline;
			}

aside section#sublinks{
	background:                   rgba(0, 0, 0, .5);
	position: fixed;
}
			
/************************************
 *  IMAGE LIST (for gallery)
 ************************************/
 
	.imgList {
		display:                  block;
		margin:                   0 auto;

		list-style:               none;
		float:                    none;
	}
		.imgList li {
			/*
				List items will float to the left of the next item
			*/
			display:              inline;
			display:              inline-block;
			display:              -moz-inline-box; /* mozilla only */
			margin:               0px 20px;
		}
			.imgList li a {
				display:          block;
				font-size:        14px;
				text-align:       center;
				text-decoration:  none;
				line-height:      44px;
				margin-right:     0px;
			}
				
				.imgList li img {
					width:        100px;
				}
 
/************************************
 *  CONTACT STUFF
 ************************************/

.contactInfo {
	visibility:                   hidden;
	position:                     absolute;
}

.imgOnBox{
	display:                      table-cell;
	background:                   rgba(0,0,100,.4);
	text-align:                   center;
	border:                       solid 2px #039;
	border-bottom:                none;
	/* Border-radius not implemented yet */
	border-top-left-radius:       10px;
	border-top-right-radius:      10px;
 	-moz-border-top-left-radius:  10px;
	-webkit-border-top-right-radius:10px;

}
	.imgOnBox img {
		width:                    120px;
		opacity:                  1.0;
		filter:                   alpha(opacity=100);
		-webkit-box-shadow:       none;
	}
	
.imgOffBox{
	display:                      table-cell;
	background-color:             inherit;
	text-align:                   center;
	border:                       solid 2px rgba(0,0,0,0);
	/* Border-radius not implemented yet */
	border-top-left-radius:       10px;
	border-top-right-radius:      10px;
}
	.imgOffBox img{
		width:                    120px;
		opacity:                  0.5;
		filter:                   alpha(opacity=50);
		-webkit-box-shadow:       none;
	}

#contactImgBox {
	display:                      table;
	width:                        600px;
	padding:                      0 10px;
}

#contactInfoBox {
	min-height:                   200px;
	background:                   rgba(0,0,100,.4);
	padding:                      20px 20px;
	border:                       solid 2px #039;
	border-top:                   none;
	/* Border-radius not implemented yet */
 	-moz-border-radius:           10px;
	-webkit-border-radius:        10px;
}
	#contactInfoBox h3{
		padding:                  0px 0px;
	}
	#contactInfoBox p.role{
		padding-bottom:           11px 0px;
		font-style:               italic;
	}


/************************************
 *  FOOTER
 ************************************/


footer {
	background:                   #222;
	position:                     absolute;
	left:                         0;
	width:                        100%;
}

	footer div {
		display:                  table;
		color:                    #777;
		margin:                   0 auto;
		padding:                  44px 0;
		width:                    940px;
	}
	
		footer div section {
			display:              table-cell;
			width:                300px;
		}
		
		footer div #about, footer div #blogroll {
			padding-right:        20px;
		}
		
	footer h3 {
		color:                    #FFF;
	}
	
	footer a {
		color:                    #999;
	}
	
		footer a:hover {
			color:                #FFF;
			text-decoration:      none;
		}
	
	footer ul {
		margin:                   0 0 0 40px;
		list-style:               square;
		color:                    #565656;
	}
	
		footer ul li a {
			display:              block;
		}